<!-- myapp/templates/myapp/form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Form Submission</title>
</head>
<script>
    function openPopup() {
        window.open("{% url 'zamowienia:popup_view' %}", "popupWindow", "width=600,height=400");
    }
</script>
<body>
    <<h1>Zamowienia Form</h1>
    <form method="post" action="{% url 'zamowienia:zamowienia' %}">
        {% csrf_token %}
        <!-- Manually create the form fields using regular HTML -->
        <div>
            <label for="id_index_detalu">Index Detalu:</label>
            <input type="text" id="id_index_detalu" name="index_detalu" maxlength="30">
        </div>
        <div>
            <label for="id_ilosc_opakowan">Ilosc Opakowan:</label>
            <input type="number" id="id_ilosc_opakowan" name="ilosc_opakowan">
        </div>
        <div>
            <label for="id_osoba_zamawiajaca">Osoba Zamawiajaca:</label>
            <input type="text" id="id_osoba_zamawiajaca" name="osoba_zamawiajaca" maxlength="30">
        </div>
        <div>
            <label for="id_termin_zamowienia">Termin Zamowienia:</label>
            <input type="date" id="id_termin_zamowienia" name="termin_zamowienia" value={{dzisiejsza_data}}>
        </div>
        <!-- End of manual form fields -->
        <input onclick="openPopup()" type="submit" value="Submit">
    </form>
        
</body>
</html>
{{dzisiejsza_data}}






